@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: rgb(49, 48, 48);
}

#divContainer{
    padding-left: 25%;
    float:left;
}

#divContainer2{
    padding-right: 25%;
    float:right;
} 

.opacity{
    opacity: 0.7;
}

.colorChange1{
    color: rgb(245, 178, 55);
    font-size: 35px;
    opacity: 1;
}

.bold{
    font-weight: bold;
}

.grid{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position:sticky;
    height: 250px;
    width: 45;
    align-items: center; 
    justify-content: center;
    padding-top: 20%;
    margin-right: 20px;
    font-family:'Fredoka One', cursive;
    font-size: 30px;
}