body{
    background-color: rgb(49, 48, 48);
}

#divContainer{

    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    height: 250px;
    width: 45%;
    float: left;
    align-items: center; 
    justify-content: center;
    padding-top: 20%;
    margin-left: 20px;
}

#divContainer2{

    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position:sticky;
    height: 250px;
    width: 45%;
    float:right;
    align-items: center; 
    justify-content: center;
    padding-top: 20.4%;
    margin-right: 20px;
}

#split{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 9px;
    height: 200px;
    background: rgb(104, 102, 102);
    border-radius: 40%;
    position:fixed;
    float: left;
    top: 42%;
    left: 48%;
    box-shadow: 0 0 30px;

}

.colorChange1{
    color: rgb(245, 178, 55);
}

.bold{
    font-weight: bolder;
}